{{#each this}}
  <li class='country-list__item'><img
      class='country-list__flags'
      src='{{flags.svg}}'
      alt='{{name.official}}'
      width='30'
    />
    <h2 class='country-list__title'>{{name.official}}</h2></li>
{{/each}}